$def with (renter, renter_man, group, people, form)
<h3><a href="/renter/$renter.id/">$renter.name</a></h3>
<h4><a href="$renter_man.link">$renter.link</a></h4>
<h3>$group.name</h3>


<table width="100%">
    <tr>
        <td>
            <dev class="formR">
            <form action="/renter/$renter.id/$group.id/" method="post">
                $:form.render()
                <input type="submit" value="Добавить">
            </form>
            </dev>
        </td>
        <td>
            <table border="0" bordercolor="000000" cellspacing="2">
                <tr>
                    <th bgcolor="03a2d3">id</th>
                    <th bgcolor="03a2d3">ФИО</th>
                    <th bgcolor="03a2d3">телефон</th>
                    <th bgcolor="03a2d3">ссылка в соц.сети</th>
                    <th bgcolor="03a2d3">Удаление</th>
                </tr>
                $for p in people:
                <tr>
                    <td bgcolor="03a2d3">$p.id</td>
                    <td bgcolor="afcde7">$p.FIO</td>
                    <td bgcolor="afcde7">$p.phone</td>
                    <td bgcolor="afcde7"><a href="$p.link">$p.link</a></td>
                    <td bgcolor="afcde7">
                        <form action="/deletePeopleFromGroup/$renter.id/$group.id/$p.id" method="get">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>

        </td>
    </tr>
</table>
<a href="/renters/">перейти к списку арендаторов</a>