$def with (halls, form)
<h2>Залы</h2>
<br>
<table width="100%">
    <tr>
        <td width="30%">
            <div class="formHalls">
            <form  class="form" action="/halls/" method="post">
                $:form.render()
                <input type="submit" value="Добавить">
            </form>
            </div>
        </td>
        <td width="45%"></td>
        <td>
            <table border="0" bordercolor="000000" cellspacing="2">
                <tr>
                    <th bgcolor="03a2d3">id</th>
                    <th bgcolor="03a2d3">Наименование</th>
                    <th bgcolor="03a2d3">Площадь</th>
                    <th bgcolor="03a2d3">Удаление</th>
                </tr>
                $for h in halls:
                <tr>
                    <td bgcolor="03a2d3">$h.id</td>
                    <td bgcolor="afcde7"><a href="/hall/$h.id/">$h.name</a></td>
                    <td bgcolor="afcde7">$h.square</td>
                    <td bgcolor="afcde7">
                        <form action="/delhall/$h.id" method="get">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%">
    <br><br><br><br>
<a href="/home/">На главную</a>
    </table>