$def with (halls, form)
<h2>Залы</h2>
<table width="100%">
    <tr>
        <td width="30%">
            <form  class="form" action="/halls/" method="post">
                $:form.render()
                <input type="submit" value="Добавить">
            </form>
        </td>
        <td width="45%"></td>
        <td>
            <table border="1">
                <tr>
                    <th>id</th>
                    <th>Наименование</th>
                    <th>Площадь</th>
                </tr>
                $for h in halls:
                <tr>
                    <td>$h.id</td>
                    <td><a href="/hall/$h.id/">$h.name</a></td>
                    <td>$h.square</td>
                    <td>
                        <form action="/delhall/$h.id" method="get">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%">
    <br><br><br><br>
<a href="/home/">На главную</a>
    </table>