$def with (form, reg)
<style>

 html { height: 100%; }
   body {
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background: url(http://dengi.bm.img.com.ua/dengi/orig/c/17/9d97c164367c10de610f37d11120e17c.jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */
    background-attachment:fixed;
   }
</style>
<table width="100%" border="0">
    <!--<tr>-->
        <!--<td width="5%"></td>-->
        <!--<td width="5%"></td>-->
        <!--<td align="right"><h4>Администратор?</h4></td></tr>-->
    <tr>
        <!--<td width="5%"></td>-->

    <!--</tr>-->
    <!--<tr>-->
        <td width="5%"></td>
        <td width="40%" align="left">
            <h3 margin-bottom="0.5">Хотите найти зал для занятия танцами? Ищете место, где можно провести мастер-класс,<p></h3>
 <h3 margin-bottom="0.5"> подтянуть танцевальные способности или провести время с пользой?<p></h3>
   <h3 margin-bottom="0.5"><p> Для реализации этих целей рекомендуем воспользоваться услугами<p></h3>
<h3 margin-bottom="0.5">«Белламира-Холл»! Вы можете использовать большие залы со всем необходимым<p></h3>
<h3 margin-bottom="0.5">оборудованием по своему усмотрению, и в любое  удобное  для вас время.</h3>
<h3 margin-bottom="0.5"><p>Почасовая аренда позволит вам держат себя в тонусе, а долгосрочная – обеспечит<p></h3>
            <h3 margin-bottom="0.5"> качественную подготовку к грядущему выступлению!</h3>
    <h3>Наш телефон 8-904-922-14-94</h3>
            <h1><a href="https://vk.com/bellamira">Свяжитесь с нами!</a></h1>
        </td>
        <td align="right" height="5%">
            <div class="form0">
            <!--<h4>Авторизуйтесь!</h4>-->
            <form action="/home/" method="post">
                $:form.render()
            <input type="submit" value="Я - администратор">
        </form></div>
            <br>
                <a href="/renters/">К списку арендаторов</a>
                <a href="/halls/">К списку залов</a>
        </td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="60%" border="1" bordercolor="03a2d3"><img src="https://pp.userapi.com/c637523/v637523676/7e3fb/BRX40-a7SUc.jpg"></td>

    </tr>
    <tr>
        <td width="5%"></td>
    </tr>
    <tr>
        <td width="5%"></td>
        <td width="60%" border="1" bordercolor="03a2d3"><img src="https://pp.userapi.com/c637523/v637523676/7e3f3/Akv_HsZObow.jpg"></td>

    </tr>
    <tr>
        <td width="5%"></td>

    </tr>

</table>

