$def with (hall, time_zones, form, form2, updeted_events)
<h2>$hall.name</h2>
<table width="100%">
    <tr>
        <td>
            <form action="/hall/$hall.id/" method="post">
                $:form.render()
                <input type="button" value="Добавить">
            </form>
        </td>

        <td>
            <table border="1">
                <tr>
                    <th>id</th>
                    <th>день недели</th>
                    <th>время начала</th>
                    <th>время окончания</th>
                    <th>общая стоимость</th>
                </tr>
                $for z in time_zones:
                <tr>
                    <td><a href="/timezone/$h.id/">$z.id</a></td>
                    <td>$h.days_of_week</td>
                    <td>$h.start_time</td>
                    <td>$h.end_time</td>
                    <td>$h.cost</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <form action="/hall/$hall.id/" method="post">
                $:form2.render()
                <input type="button" value="Добавить" onsubmit="A();">
            </form>
        </td>
        <td>
            <table border="1">
                <tr>
                    <th>id</th>
                    <th>мероприятие</th>
                    <th>группа</th>
                    <th>зал</th>
                    <th>время начала</th>
                    <th>время окончания</th>

                </tr>
                $for e in updeted_events
                <tr>
                    <td>$e.id</td>
                    <td><a href="/using_hall/$e.id/">$e.name</a></td>
                    <td>$e.group_id</td>
                    <td>$e.hall_id</td>
                    <td>$e.start_time</td>
                    <td>$e.end_time</td>
                </tr>
            </table>
        </td>
    </tr>
    <script>
        var str1 = document.getElementById('st_t').value
        var str2 = document.getElementById('end_t').value
        var str = str1 + "/" + str2;
        A = function() {
            jQuery.getJSON(
            "/prices/str/$hall.id/",
            function(json) {
                    return (json.result)
            });
        }
    </script>
    <tr>
        <a href="/halls/">Вернуться к списку залов</a>
    </tr>

</table>