$def with (hall, time_zones, form, form2, updeted_events, sum)
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/prices_script.js"></script>
<h2>$hall.name</h2>

<table width="100%">
    <h3>Добавление мероприятия</h3>
    <tr>
        <td>
            <form class="form" action="/hall/$hall.id/" method="post" onsubmit="return A($hall.id);" id="form0">
                $:form2.render()
                <input type="submit" value="Добавить">
            </form>
        </td>
        <td width="10%"></td>
        <td>
            <table border="1">
                <tr>
                    <th>id</th>
                    <th>мероприятие</th>
                    <th>группа</th>
                    <th>время начала</th>
                    <th>время окончания</th>

                </tr>
                $for e in updeted_events
                <tr>
                    <td>$e.id</td>
                    <td>$e.name</td>
                    <td>$e.group_id</td>
                    <td>$e.start_time</td>
                    <td>$e.end_time</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%">
    <tr>
    <h3>Добавление тарифа</h3>
    </tr>
    <tr>
        <td>
            <form class="form" action="/hall/$hall.id/" method="post">
                $:form.render()
                <input type="submit" value="Добавить">
            </form>
        </td>
        <td width="15%"></td>
        <td>
            <table border="1">
                <tr>
                    <th>id</th>
                    <th>день недели</th>
                    <th>время начала</th>
                    <th>время окончания</th>
                    <th>общая стоимость</th>
                </tr>
                $for z in time_zones:
                <tr>
                    <td><a href="/timezone/$z.id/"></a>$z.id</td>
                    <td>$z.days_of_week</td>
                    <td>$z.start_time</td>
                    <td>$z.end_time</td>
                    <td>$z.cost</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%">

    <tr>
        <a href="/halls/">Вернуться к списку залов</a> <br>
        <a href="/renters/">перейти к списку арендаторов</a>
    </tr>
    <tr>
    <h4>Суммарная стоимость аренды по залу *** руб</h4>
    </tr>

</table>