$def with (renter, renter_man, groups, people, rate, pays, ev_groups, form, form2, form3, form4)
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/prices_script.js"></script>
<table width="100%" border="0" align="left">
    <td align="center" width="20%">
        <h2>$renter.name</h2>
        <h3>$renter_man.FIO</h3>
        <h4>$renter_man.phone <a href="$renter_man.link">$renter_man.link</a></h4>
    </td>
    <td width="50%"></td>
</table>
<table width="100%" border="0" align="left">
    <tr><h2>Добавление оплаты</h2></tr>
    <tr>
        <td width="400">
            <div class="formR">
            <form class="form" action="/renter/$renter.id/" method="post">
                $:form2.render()
                <input type="submit" value="Добавить">
            </form>
            </div>
        </td>
        <td width="325">
            <h3>Лист оплат</h3>
            <table border="0" bordercolor="000000" cellspacing="2">
                <tr>
                    <th bgcolor="03a2d3">id</th>
                    <th bgcolor="03a2d3">Дата</th>
                    <th bgcolor="03a2d3">Сумма</th>
                    <th bgcolor="03a2d3">Удаление</th>
                </tr>
                $for p in pays:
                <tr>
                    <td bgcolor="03a2d3">$p.id</td>
                    <td bgcolor="afcde7">$p.date</td>
                    <td bgcolor="afcde7">$p.sum</td>
                    <td bgcolor="afcde7">
                        <form action="/delpay/$renter.id/$p.id">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
        </td>
        <td  width="10%">
            <h3>Финансовая сводка</h3>
            <table border="0" bordercolor="000000" cellspacing="2">
                <tr>
                    <th bgcolor="03a2d3">Суммарная выплата</th>
                    <th bgcolor="03a2d3">Суммарная стоимость занятий</th>
                    <th bgcolor="03a2d3">Итоговый баланс</th>
                </tr>
                <tr>
                    <td bgcolor="afcde7"> руб</td>
                    <td bgcolor="afcde7"> руб</td>
                    <td bgcolor="afcde7"> руб</td>
                </tr>
            </table>
        </td>
        <td>
            <table border="0" bordercolor="000000" cellspacing="2">

            </table>
        </td>

    </tr>
</table>
<table width="100%">
    <tr><h1></h1></tr>
    <tr><h2>Добавление группы</h2></tr>
    <tr>
        <td width="400">
            <div class="formR">
            <form  class="form" action="/renter/$renter.id/" method="post">
                $:form.render()
                <input type="submit" value="Добавить">
            </form>
            </div>
        </td>
        <td>

            <table border="0" bordercolor="000000" cellspacing="2">
                <h3>Группы</h3>
                <tr>
                    <th bgcolor="03a2d3">id</th>
                    <th bgcolor="03a2d3">Наименование</th>
                    <th bgcolor="03a2d3">Удаление</th>
                </tr>
                $for gr in groups:
                <tr>
                    <div class="table0">
                    <td bgcolor="03a2d3">$gr.id</td>
                    <td bgcolor="afcde7"><a href="/renter/$renter.id/$gr.id/">$gr.name</a></td>
                    <td bgcolor="afcde7">
                        <form action="/delgroup/$renter.id/$gr.id">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                    </div>
                </tr>
            </table>

        </td>
        <td>
            <table border="0" bordercolor="000000" cellspacing="2">
                <h3>Преподаватели</h3>
                <tr>
                    <th bgcolor="03a2d3">id</th>
                    <th bgcolor="03a2d3">ФИО</th>
                    <th bgcolor="03a2d3">телефон</th>
                    <th bgcolor="03a2d3">ссылка в соц.сети</th>
                    <th bgcolor="03a2d3">Удаление</th>
                </tr>
                $for p in people:
                <tr>
                    <td bgcolor="03a2d3">$p.id</td>
                    <td bgcolor="afcde7">$p.FIO</td>
                    <td bgcolor="afcde7">$p.phone</td>
                    <td bgcolor="afcde7"><a href="$p.link">$p.link</a></td>
                    <td bgcolor="afcde7">
                        <form action="/delpeople/$renter.id/$p.id" method="get">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%">
    <tr><h2>Добавление занятия</h2></tr>
    <tr>
        <td width="400">
            <div class="formR3">
            <form class="form"  action="/renter/$renter.id/" method="post">
                $:form3.render()
                <input type="submit" value="Добавить">
            </form>
            </div>
        </td>
        <td>
            <table border="0" bordercolor="000000" cellspacing="2">
                <tr>
                    <th bgcolor="03a2d3">id</th>
                    <th bgcolor="03a2d3">Группа</th>
                    <th bgcolor="03a2d3">Зал</th>
                    <th bgcolor="03a2d3">Название занятия</th>
                    <th bgcolor="03a2d3">Время начала</th>
                    <th bgcolor="03a2d3">Время окончания</th>
                    <th bgcolor="03a2d3">Удаление</th>
                </tr>
                $for e in ev_groups
                <tr>
                    <td bgcolor="03a2d3">$e.id</td>
                    <td bgcolor="afcde7">$e.group_name</td>
                    <td bgcolor="afcde7">$e.hall_name</td>
                    <td bgcolor="afcde7">$e.name</td>
                    <td bgcolor="afcde7">$e.start_time</td>
                    <td bgcolor="afcde7">$e.end_time</td>
                    <td bgcolor="afcde7">
                        <form class="form" action="/delevent/$renter.id/$e.id" method="get">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%" border="0">
    <tr>
        <h2>Добавление индивидуального тарифа</h2>
        <td width="400">
            <div class="formR4">
            <form class="form" action="/renter/$renter.id/" method="post">
                $:form4.render()
                <input type="submit" value="Добавить">
            </form>
            </div>
        </td>
        <td>
            <table border="0" bordercolor="000000" cellspacing="2">
                <tr>
                    <th bgcolor="03a2d3">id</th>
                    <th bgcolor="03a2d3">Зал</th>
                    <th bgcolor="03a2d3">День недели</th>
                    <th bgcolor="03a2d3">Время Начала</th>
                    <th bgcolor="03a2d3">Время Окончания</th>
                    <th bgcolor="03a2d3">Стоимость</th>
                    <th bgcolor="03a2d3">Удаление</th>
                </tr>
                $for r in rate:
                <tr>
                    <td bgcolor="03a2d3">$r.id</td>
                    <td bgcolor="afcde7">$r.hall_id</td>
                    <td bgcolor="afcde7">$r.days_of_week</td>
                    <td bgcolor="afcde7">$r.start_time</td>
                    <td bgcolor="afcde7">$r.end_time</td>
                    <td bgcolor="afcde7">$r.cost руб</td>
                    <td bgcolor="afcde7">
                        <form action="/delindrate/$renter.id/$r.id">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<a href="/renters/">перейти к списку арендаторов</a>
<a href="/halls/">перейти к списку залов</a>