$def with (renter, renter_man, groups, people, rate, pays, ev_groups, form, form2, form3, form4)
<h3>$renter.name</h3>
<h3>$renter_man.FIO</h3>
<h3>$renter_man.phone <a href="$renter_man.link">$renter_man.link</a></h3>

<table width="100%">
    <tr><h3>Добавление группы</h3></tr>
    <tr>
        <td>
            <form  class="form" action="/renter/$renter.id/" method="post">
                $:form.render()
                <input type="submit" value="Добавить">
            </form>
        </td>
        <td>
            <table border="0" bordercolor="000000" cellspacing="2">
                <h4>Группы</h4>
                <tr>
                    <th bgcolor="03a2d3">id</th>
                    <th bgcolor="03a2d3">Наименование</th>
                    <th bgcolor="03a2d3">Удаление</th>
                </tr>
                $for gr in groups:
                <tr>
                    <td bgcolor="03a2d3">$gr.id</td>
                    <td bgcolor="afcde7"><a href="/renter/$renter.id/$gr.id/">$gr.name</a></td>
                    <td bgcolor="afcde7">
                        <form>
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table border="0" bordercolor="000000" cellspacing="2">
                <h4>Преподаватели</h4>
                <tr>
                    <th bgcolor="03a2d3">id</th>
                    <th bgcolor="03a2d3">ФИО</th>
                    <th bgcolor="03a2d3">телефон</th>
                    <th bgcolor="03a2d3">ссылка в соц.сети</th>
                    <th bgcolor="03a2d3">Удаление</th>
                </tr>
                $for p in people:
                <tr>
                    <td bgcolor="03a2d3">$p.id</td>
                    <td bgcolor="afcde7">$p.FIO</td>
                    <td bgcolor="afcde7">$p.phone</td>
                    <td bgcolor="afcde7"><a href="$p.link">$p.link</a></td>
                    <td bgcolor="afcde7">
                        <form>
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%">
    <tr><h3>Добавление оплаты</h3></tr>
    <tr>
        <td>
            <form class="form" action="/renter/$renter.id/" method="post">
                $:form2.render()
                <input type="submit" value="Добавить">
            </form>
        </td>
        <td>
            <h4>Лист оплат</h4>
            <table border="0" bordercolor="000000" cellspacing="2">
                <tr>
                    <th bgcolor="03a2d3">id</th>
                    <th bgcolor="03a2d3">Дата</th>
                    <th bgcolor="03a2d3">Сумма</th>
                    <th bgcolor="03a2d3">Удаление</th>
                </tr>
                $for p in pays:
                <tr>
                    <td bgcolor="03a2d3">$p.id</td>
                    <td bgcolor="afcde7">$p.date</td>
                    <td bgcolor="afcde7">$p.sum</td>
                    <td bgcolor="afcde7">
                        <form>
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table border="0" bordercolor="000000" cellspacing="2">
                    <h4>Задолженности</h4>
                    <tr>
                        <th bgcolor="03a2d3">id</th>
                        <th bgcolor="03a2d3">Сумма</th>
                        <th bgcolor="03a2d3">Удаление</th>
                    </tr>
                    $for p in people:
                    <tr>
                        <td bgcolor="03a2d3">$p.id</td>
                        <td bgcolor="afcde7">$p.FIO</td>

                        <td bgcolor="afcde7">
                            <form>
                                <input type="submit" value="Удалить">
                            </form>
                        </td>
                    </tr>
                </table>
        </td>
        <td>
            <table border="0" bordercolor="000000" cellspacing="2">
                    <h4>переплаты</h4>
                    <tr>
                        <th bgcolor="03a2d3">id</th>
                        <th bgcolor="03a2d3">Сумма</th>
                        <th bgcolor="03a2d3">Удаление</th>
                    </tr>
                    $for p in people:
                    <tr>
                        <td bgcolor="03a2d3">$p.id</td>
                        <td bgcolor="afcde7">$p.FIO</td>

                        <td bgcolor="afcde7">
                            <form>
                                <input type="submit" value="Удалить">
                            </form>
                        </td>
                    </tr>
                </table>
        </td>

    </tr>
</table>
<table width="100%">
    <tr><h3>Добавление занятия</h3></tr>
    <tr>
        <td>
            <form class="form"  action="/using/$renter.id/" method="post">
                $:form3.render()
                <input type="submit" value="Добавить">
            </form>
        </td>
        <td>
            <table border="0" bordercolor="000000" cellspacing="2">
                <tr>
                    <th bgcolor="03a2d3">Группа</th>
                    <th bgcolor="03a2d3">Зал</th>
                    <th bgcolor="03a2d3">Название занятия</th>
                    <th bgcolor="03a2d3">Время начала</th>
                    <th bgcolor="03a2d3">Время окончания</th>
                    <th bgcolor="03a2d3">Удаление</th>
                </tr>
                $for e in ev_groups
                <tr>
                    <td bgcolor="afcde7">$e.group_name</td>
                    <td bgcolor="afcde7">$e.hall_name</td>
                    <td bgcolor="afcde7">$e.name</td>
                    <td bgcolor="afcde7">$e.start_time</td>
                    <td bgcolor="afcde7">$e.end_time</td>
                    <td bgcolor="afcde7">
                        <form>
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%">
    <tr>
        <h3>Добавление индивидуального тарифа</h3>
        <td>
            <form class="form" action="/renter/$renter.id/" method="post">
                $:form4.render()
                <input type="submit" value="Добавить">
            </form>
        </td>
        <td>
            <table border="0" bordercolor="000000" cellspacing="2">
                <tr>
                    <th bgcolor="03a2d3">id</th>
                    <th bgcolor="03a2d3">Зал</th>
                    <th bgcolor="03a2d3">День недели</th>
                    <th bgcolor="03a2d3">Время Начала</th>
                    <th bgcolor="03a2d3">Время Окончания</th>
                    <th bgcolor="03a2d3">Стоимость</th>
                    <th bgcolor="03a2d3">Удаление</th>
                </tr>
                $for r in rate:
                <tr>
                    <td bgcolor="03a2d3">$r.id</td>
                    <td bgcolor="afcde7">$r.hall_id</td>
                    <td bgcolor="afcde7">$r.days_of_week</td>
                    <td bgcolor="afcde7">$r.start_time</td>
                    <td bgcolor="afcde7">$r.end_time</td>
                    <td bgcolor="afcde7">$r.cost</td>
                    <td bgcolor="afcde7">
                        <form>
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<a href="/renters/">перейти к списку арендаторов</a>
<a href="/halls/">перейти к списку залов</a>
<!--здесь были некоторые попытки внедрить дизайн, в итоге ограничился некоторыми добавлениями кусков интерфейса-->