$def with (renter, renter_man, groups, people, rate, pays, ev_groups, form, form2, form3, form4)
<h3>$renter.name</h3>
<h3>$renter_man.FIO</h3>
<h3>$renter_man.phone <a href="$renter_man.link">$renter_man.link</a></h3>

<table width="100%" border="1">
    <tr><h3>Добавление группы</h3></tr>
    <tr>
        <td>
            <form  class="form" action="/renter/$renter.id/" method="post">
                $:form.render()
                <input type="submit" value="Добавить">
            </form>
        </td>
        <td>
            <table border="1">
                <h4>Группы</h4>
                <tr>
                    <th>id</th>
                    <th>Наименование</th>
                </tr>
                $for gr in groups:
                <tr>
                    <td>$gr.id</td>
                    <td><a href="/renter/$renter.id/$gr.id/">$gr.name</a></td>
                </tr>
            </table>
        </td>
        <td>
            <table border="1">
                <h4>Преподаватели</h4>
                <tr>
                    <th>id</th>
                    <th>ФИО</th>
                    <th>телефон</th>
                    <th>ссылка в соц.сети</th>
                </tr>
                $for p in people:
                <tr>
                    <td>$p.id</td>
                    <td>$p.FIO</td>
                    <td>$p.phone</td>
                    <td><a href="$p.link">$p.link</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%" border="1">
    <tr><h3>Добавление оплаты</h3></tr>
    <tr>
        <td>
            <form class="form" action="/renter/$renter.id/" method="post">
                $:form2.render()
                <input type="submit" value="Добавить">
            </form>
        </td>
        <td>
            <h4>Лист оплат</h4>
            <table border="1">
                <tr>
                    <th>id</th>
                    <th>Дата</th>
                    <th>Сумма</th>
                </tr>
                $for p in pays:
                <tr>
                    <td>$p.id</td>
                    <td>$p.date</td>
                    <td>$p.sum</td>
                </tr>
            </table>
        </td>
        <td><h4>задолженности</h4></td>
        <td><h4>переплаты</h4></td>

    </tr>
</table>
<table width="100%" border="1">
    <tr><h3>Баллы?</h3></tr>
    <tr>
        <td>
            <form class="form"  action="/using/$renter.id/" method="post">
                $:form3.render()
                <input type="submit" value="Добавить">
            </form>
        </td>
        <td><h4>Cведения о занятиях</h4>
            <table border="1">
                <th>Группа</th>
                <th>Название занятия</th>
                <th>Зал</th>
                <th>Время начала</th>
                <th>Время окончания</th>
                $for e in ev_groups
                <td>$e.group_name</td>
                <td>$e.name</td>
                <td>$e.hall_name</td>
                <td>$e.start_time</td>
                <td>$e.end_time</td>


            </table>

        </td>
    </tr>
</table>
<table width="100%" border="1">
    <tr><h3>Добавление индивидуального тарифа</h3></tr>
    <tr>
        <td>
            <form class="form" action="/renter/$renter.id/" method="post">
                $:form4.render()
                <input type="submit" value="Добавить">
            </form>
        </td>
        <td>
            <table border="1">
                <tr>
                    <th>id</th>
                    <th>Зал</th>
                    <th>День недели</th>
                    <th>Время Начала</th>
                    <th>Время Окончания</th>
                    <th>Стоимость</th>
                </tr>
                $for r in rate:
                <tr>
                    <td>$r.id</td>
                    <td>$r.hall_id</td>
                    <td>$r.days_of_week</td>
                    <td>$r.start_time</td>
                    <td>$r.end_time</td>
                    <td>$r.cost</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<a href="/renters/">перейти к списку арендаторов</a>
<a href="/halls/">перейти к списку залов</a>
<!--здесь были некоторые попытки внедрить дизайн, в итоге ограничился некоторыми добавлениями кусков интерфейса-->